<%= image_tag @item.image, class: 'buy-item-img' %>
<div class='item-info'>
  <h3 class='item-name'>
    木材
  </h3>
  <div class='item-price'>
    <span>99999999円<br>(税込み)</span>
  </div>
</div>
<div>
接着剤
</div>
<div>
壁材
</div>
